html {
    height: 100%;
    width: 100%;
  }
  
  img {
      width: 150px;
      height 150px;
  }
  .d-flex {
      display: flex;
  }
  
  .team {
      border: solid red;
      margin: 10px;
      width: 200px;
    
  }
  